body {
	font-family: 'Lato';
	margin: auto;
	font-size: 30px;
	text-align: center;
}

header {
	margin: 68px;
}

section {
	width: 90%;
	margin: auto;
}

.number {
	color: #fff;
}

.numberShow {
	color: #000;
}

.emptySpace {
}

#bomb-it div {
	border: 1px solid black;
	width: 80px;
	height: 80px;
	display: table-cell;
}

section {
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

button {
	background-color: #000;
	color: #fff;
	border: none;
	text-align: center;
	padding: 20px;
	margin: 20px;
}
